.input_wrapper {
    overflow: hidden;
    caret-color: black;
}

/* input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance:    textfield;
    appearance:         none;
}

input {
    letter-spacing: 5ch;
    text-indent: -3.5ch;
    width: 34ch;
    border: none;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 4ch, transparent 0, transparent 6ch) 0 100%/100% 1px no-repeat;
    padding: 10px 0px;
    font-weight: bold;
    caret-color: black;
    color: transparent;
    font-size: 2.3ch;
    margin-bottom: 10px;
    text-shadow: 5ch 0 black;
  }

input:focus {
    background: repeating-linear-gradient(90deg, var(--color-primary) 0, var(--color-primary) 4ch, transparent 0, transparent 6ch) 0 100%/100% 1px no-repeat;
    caret-color: var(--color-primary);
    text-shadow: 5ch 0 var(--color-primary);
}

input:invalid {
    background: repeating-linear-gradient(90deg, red 0, red 4ch, transparent 0, transparent 6ch) 0 100%/100% 1px no-repeat;
    caret-color: red;
} */