.input_wrapper {
    
}

input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance:    textfield;
    appearance:         none;
}

input {
    width: 15px;
    border: none;
    border-bottom: 1px solid black;
    margin-left: 5px;
    padding: 5px;
}